# https://beego.me/docs/mvc/controller/config.md
appname = go-api-vue-js
httpport = 8080
runmode = dev
EnableDocs = true
# Flag of copy raw request body in context, false by default except GET, HEAD or file uploading.
copyrequestbody = true
# Templates auto render.
autorender = false
# Session
SessionOn = true
SessionProvider = "file"
SessionProviderConfig = "./var/sessions"
# Admin
EnableAdmin = true
AdminHttpAddr = "localhost"
AdminHttpPort = 8088
